<section class="content-main">
    <div class="row">
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">  
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" name="product_name" placeholder="Type here" class="form-control"
                                    id="product_name">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Product description</label>
                                <textarea placeholder="Type here" name="product_description" class="form-control"
                                    rows="4"></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="form-label" for="product_price">Price</label>
                                <input type="text" placeholder="%" name="price" class="form-control" id="product_price">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="product_quantity" class="form-label">Quantity</label>
                                        <input type="text" name="quantity" placeholder="inch" class="form-control"
                                            id="product_quantity">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="product_discount" class="form-label">Discount</label>
                                        <input type="text" name="discount" placeholder="inch" class="form-control"
                                            id="product_discount">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit"
                                        class="btn ms-auto d-block btn-md rounded font-sm hover-up">Add
                                        Product</button> <!-- ms-auto d-block to move button to right-->
                                </div>

                            </div>

                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body  ">
                            <div class="d-flex flex-wrap flex-row">
                                <div class="input-upload ">
                                    <label class="form-label">Image 1</label>
                                    <input class="form-control" type="file" name="img1" multiple>
                                </div>
    
                                <div class=" input-upload">
                                    <label class="form-label">Image 2</label>
                                    <input class="form-control" type="file" name="img2">
                                </div>
                            </div>
                            <div class="d-flex flex-wrap flex-row">
                                <div class=" input-upload">
                                    <label class="form-label">Image 3</label>
                                    <input class="form-control" type="file" name="img3">
                                </div>
    
                                <div class=" input-upload">
                                    <label class="form-label">Image 4</label>
                                    <input class="form-control" type="file" name="img4">
                                </div>
                            </div>
                            <br>
                            <div class="row gx-2">
                                <div class="col-sm-12 mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="product_category">

                                        <% for( let i = 0; i < category.length; i++ ) { %>
                                            <% if (category[i].status) { %>
                                                <option value="<%= category[i]._id %>"> <%= category[i].name %> </option>
                                            <% } %>
                                           
                                        <% } %>
                                        
                                    </select>
                                </div>
                            </div> <!-- row.// -->

                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </form>
    </div>
</section> <!-- content-main end// -->