<link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">

<style>
    body {
      background-image: url("/admin/assets/imgs/backgroundImages/workplace-business-modern-male-accessories-laptop-black-background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      overflow-y: hidden;
    }
  </style>

<!-- Template CSS -->
<link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />

<section class="content-main mt-80 mb-80">
   <div class="card mx-auto card-login">
       <div class="card-body">
           <h2 class="card-title mb-4 text-center font-weight-bold ">Admin Login</h2>
           <form action="/admin/adminLogin" method="post">
               <div class="mb-3">
                   <input class="form-control" placeholder="Email" type="text" name="email">
               </div> <!-- form-group// -->
               <div class="mb-3">
                   <input class="form-control" placeholder="Password" type="password"  name="password">
               </div> <!-- form-group// -->
              <br><br>
               <div class="mb-4">
                   <button type="submit" class="btn btn-primary w-100"> Login </button>
               </div> <!-- form-group// -->
           </form>
           
       </div>
   </div>
</section>