<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/user/assets/css/formStyle.css">



<section class="get-in-touch container">
   <h1 class="title">Admin Login</h1>
   <form class="contact-form row" action="" method="post">
      <div class="form-field col-lg-12">
         <input id="name" name="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col-lg-12">
         <input id="email" name="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">E-mail</label>
      </div> 
       <div class="form-field col-lg-12 ">
         <input id="phone" name="phone" class="input-text js-input" type="text" required>
         <label class="label" for="phone">Contact Number</label>
      </div>
      <div class="form-field col-lg-12 text-right">
         <input class="submit-btn " type="submit" value="Submit">
      </div>
   </form>
</section>

<!------ Include the above closing body tag ---------->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
