PORT=3000  #port number

MONGODB_URI= mongodb connection url


#twilio otp sending and verification
TWILIO_ACCOUNT_SID = 'your_twilio_sid'
TWILIO_AUTH_TOKEN = 'your_twilio_auth_token'
TWILIO_SERVICE_SID = 'your_twilio_service_sid'

