<body>
  <section class="vh-100" style="background-color: #f0f1f4;">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-5 col-md-5 text-center col-lg-5">
          <div class="card shadow border" style="border-radius: 20px; margin-top: 50px; margin-bottom: 90px;">
            <div class="card-body">

              <form action="/otp-user" method="post">

                <div id="sender">
                  <div class="d-flex align-items-center  pb-1">
                    <h3 class=" mx-auto font-weight-bold mt-2">LOGIN WITH OTP</h3>
                  </div>
                  <div class="form-outline mb-2 text-center">
                    <label for="" class="py-2">Enter your Mobile Number</label>
                    <input type="text" id="number" class="form-control form-control-lg " name="phone" />
                  </div>
                  <div id="recaptcha-container" class="pl-4"></div>
                  <span id="senderErr" class="justify-content-center text-danger"></span>
                  <div class="pt-3 ">
                    <!-- <button type="button" onclick="phoneAuth()" class="btn btn-block" style="width: 100%;">SEND
                      OTP</button> -->
                      <input type="submit" value="Send otp">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>


<script>


  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyC3MIN64hy_oTQfQWUHl0lID-CJkIfci0M",
    authDomain: "yt-project-a29f8.firebaseapp.com",
    projectId: "yt-project-a29f8",
    storageBucket: "yt-project-a29f8.appspot.com",
    messagingSenderId: "159898773748",
    appId: "1:159898773748:web:2985334de4f06ff73356a1",
    measurementId: "G-DLWR9M5SJC"
  };
  // initializing firebase SDK
  firebase.initializeApp(firebaseConfig);

  // render recaptcha verifier
  render();
  function render() {
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
    recaptchaVerifier.render();
  }

  // function for send OTP
  function phoneAuth() {
    var number = "+91" + document.getElementById('number').value;
    console.log(number)
    axios({
      url: '/otp-verify',
      method: 'post',
      data: {
        mobile: number
      },
    })
      .then((response) => {
        console.log(response);
        if (response.data.status) {

          firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
            console.log("this is confirmation result------", confirmationResult)
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
            document.getElementById('sender').style.display = 'none';
            document.getElementById('verifier').style.display = 'block';
            console.log('OTP Sent');

            var time_limit = 10;

            var time_out = setInterval(() => {

              if (time_limit == 0) {
                $('#timer').html('<p class="text-primary"> Resend OTP</p>')


              } else {
                if (time_limit < 10) {
                  time_limit = 0 + '' + time_limit;
                }
                $('#timer').html('00:' + time_limit);
                time_limit -= 1;
              }

            }, 1000);

          }).catch(function (error) {
            // error in sending OTP
            alert(error.message);
          });

        } else {
          document.getElementById('senderErr').innerHTML = "This Number is not registered yet!"
          //alert("user not found");
        }
      })
  }

  // function for OTP verify
  function codeverify() {
    var code = document.getElementById('verificationcode').value;
    console.log(code)

    coderesult.confirm(code).then(function () {
      console.log('OTP Verified');
      axios({
        url: '/otp-user-data',
        method: 'post'
      })
      location.href = '/';

    }).catch(function () {
      document.getElementById('verifyErr').innerHTML = "Incorrect OTP"
      console.log('OTP Not correct');
    })
  }






</script>