
<section class="content-main mt-80 mb-80" style="overflow: hidden;">
    <div class="card mx-auto card-login">
        <div class="card-body pr-3">
            <h4 class="card-title mb-4">Create an Account</h4>
            <form action="/user-signup" method="post" id="signup-form">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control rounded" placeholder="Your Name" type="text" id="name" name="name">

                </div> <!-- form-group// -->
                <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="nameError"></span>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control rounded" placeholder="Your email" type="text" id="email" name="email">

                </div> <!-- form-group// -->
            <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="emailError"></span>

                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input class="form-control rounded" placeholder="Your Phone" type="text" id="phone" name="phone">

                </div> <!-- form-group// -->
            <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="mobileNumError"></span>

                
                <div class="mb-3">
                    <label class="form-label">Create password</label>
                    <input class="form-control rounded" placeholder="Password" type="password"  id="password" name="password">
                </div> <!-- form-group// -->
                <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="passwordError"></span>

                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100"> signup </button>
                </div> <!-- form-group// -->
            </form>
            <p class="text-center small text-muted mb-15">or sign up with</p>
            <div class="d-flex gap-2 mb-4">
                <a href="#" class="w-100 btn btn-light font-sm">
                    <svg aria-hidden="true" class="icon-svg" style="vertical-align: bottom; margin-top:-4px;" width="20"
                        height="20" viewBox="0 0 20 20">
                        <path
                            d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z"
                            fill="#4285F4"></path>
                        <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z"
                            fill="#34A853"></path>
                        <path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05"></path>
                        <path
                            d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z"
                            fill="#EA4335"></path>
                    </svg> Google
                </a>
    
            </div>
            <p class="text-center mb-2">Already have an account? <a href="/user-login">Sign in now</a></p>
        </div> <!-- form-group// -->

    </div>
    </div>
</section>

 <!------ Include the above closing body tag ---------->
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <!-- validation -->
 
 <!-- <script src="../../public/validation/signupValidation.js"> </script> -->

 <script>
     const loginForm = document.getElementById("signup-form");

     const userName = document.getElementById("name");
     const email = document.getElementById("email");
     const mobile = document.getElementById("phone");
     const password = document.getElementById("password")


     const usernameRegex = /^[a-zA-Z0-9_]+$/;
     const emailRegX = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
     const mobileRegex = /^\d{10}$/;
     const passRegX = /^[a-zA-Z0-9!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]{4,}$/;

     loginForm.addEventListener('submit', (e) => {
         if (userName.value === "" || userName.value === null) {
             e.preventDefault();
             document.getElementById("nameError").classList.remove('d-none');
             document.getElementById("nameError").innerHTML = "Name must be filled!----"
         } else if (!userName.value.match(usernameRegex)) {
             e.preventDefault();
             document.getElementById("nameError").classList.remove('d-none');
             document.getElementById("nameError").innerHTML = "invalid name"
         } else if (userName.value.match(usernameRegex)) {
             document.getElementById('nameError').innerHTML = "";
             document.getElementById('nameError').classList.add('d-none')
         }


         if (email.value === "" || email.value === null) {
             e.preventDefault();
             document.getElementById("emailError").classList.remove('d-none');
             document.getElementById("emailError").innerHTML = "Email must be filled!"
         } else if (!email.value.match(emailRegX)) {
             e.preventDefault();
             document.getElementById("emailError").classList.remove('d-none');
             document.getElementById("emailError").innerHTML = "Invalid Email Address";
         } else if (email.value.match(emailRegX)) {
             document.getElementById("emailError").classList.remove('d-none');
             document.getElementById("emailError").innerHTML = ""
         }


         if (mobile.value === "" || mobile.value === null) {
             e.preventDefault();
             document.getElementById("mobileNumError").classList.remove('d-none');
             document.getElementById("mobileNumError").innerHTML = "Phone number must be filled!"
         } else if (!mobile.value.match(mobileRegex)) {
             e.preventDefault();
             document.getElementById("mobileNumError").classList.remove('d-none');
             document.getElementById("mobileNumError").innerHTML = "Invalid Phone Number";
         } else if (mobile.value.match(mobileRegex)) {
             document.getElementById("mobileNumError").classList.remove('d-none');
             document.getElementById("mobileNumError").innerHTML = ""
         }

         if (password.value === "" || password.value === null) {
             e.preventDefault();
             document.getElementById("passwordError").classList.remove('d-none');
             document.getElementById("passwordError").innerHTML = "password must be filled!"
         } else if (!password.value.match(passRegX)) {
             e.preventDefault();
             document.getElementById("passwordError").classList.remove('d-none');
             document.getElementById("passwordError").innerHTML = "Password must contain at least 6 characters including one uppercase letter,<br> one lowercase letter, one number and one special character.";
         } else if (password.value.match(passRegX)) {
             document.getElementById("passwordError").classList.remove('d-none');
             document.getElementById("passwordError").innerHTML = ""
         }
     })
 </script>