<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/user/assets/css/formStyle.css">



    <section class="get-in-touch container ">
        <h1 class="title">User Signup</h1>
        <form class="contact-form row" action="/user-signup" method="post" id="signup-form">
            <div class="form-field col-lg-12">
                <input id="name" name="name" class="input-text js-input" type="text">
                <label class="label" for="name">Name</label>
            </div>
            <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="nameError"></span>


            <div class="form-field col-lg-12">
                <input id="email" name="email" class="input-text js-input" type="text">
                <label class="label" for="email">E-mail</label>
            </div>
            <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="emailError"></span>


            <div class="form-field col-lg-12 ">
                <input id="phone" name="phone" class="input-text js-input" type="text">
                <label class="label" for="phone">Mobile Number</label>
            </div>
            <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="mobileNumError"></span>


            <div class="form-field col-lg-12 ">
                <input id="password" name="password" class="input-text js-input" type="password">
                <label class="label" for="password">Password</label>
            </div>
            <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="passwordError"></span>

            <div class="form-field col-lg-12 text-right">
                <p style="text-align: left;"><a href="/user-login">Already have an account</a></p>
                <input class="submit-btn " type="submit" value="Submit">
            </div>
        </form>
    </section>


    <!------ Include the above closing body tag ---------->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- validation -->
    
    <!-- <script src="../../public/validation/signupValidation.js"> </script> -->

    <script>
        const loginForm = document.getElementById("signup-form");

        const userName = document.getElementById("name");
        const email = document.getElementById("email");
        const mobile = document.getElementById("phone");
        const password = document.getElementById("password")


        const usernameRegex = /^[a-zA-Z0-9_]+$/;
        const emailRegX = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        const mobileRegex = /^\d{10}$/;
        const passRegX = /^[a-zA-Z0-9!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]{4,}$/;

        loginForm.addEventListener('submit', (e) => {
            if (userName.value === "" || userName.value === null) {
                e.preventDefault();
                document.getElementById("nameError").classList.remove('d-none');
                document.getElementById("nameError").innerHTML = "Name must be filled!----"
            } else if (!userName.value.match(usernameRegex)) {
                e.preventDefault();
                document.getElementById("nameError").classList.remove('d-none');
                document.getElementById("nameError").innerHTML = "invalid name"
            } else if (userName.value.match(usernameRegex)) {
                document.getElementById('nameError').innerHTML = "";
                document.getElementById('nameError').classList.add('d-none')
            }


            if (email.value === "" || email.value === null) {
                e.preventDefault();
                document.getElementById("emailError").classList.remove('d-none');
                document.getElementById("emailError").innerHTML = "Email must be filled!"
            } else if (!email.value.match(emailRegX)) {
                e.preventDefault();
                document.getElementById("emailError").classList.remove('d-none');
                document.getElementById("emailError").innerHTML = "Invalid Email Address";
            } else if (email.value.match(emailRegX)) {
                document.getElementById("emailError").classList.remove('d-none');
                document.getElementById("emailError").innerHTML = ""
            }


            if (mobile.value === "" || mobile.value === null) {
                e.preventDefault();
                document.getElementById("mobileNumError").classList.remove('d-none');
                document.getElementById("mobileNumError").innerHTML = "Phone number must be filled!"
            } else if (!mobile.value.match(mobileRegex)) {
                e.preventDefault();
                document.getElementById("mobileNumError").classList.remove('d-none');
                document.getElementById("mobileNumError").innerHTML = "Invalid Phone Number";
            } else if (mobile.value.match(mobileRegex)) {
                document.getElementById("mobileNumError").classList.remove('d-none');
                document.getElementById("mobileNumError").innerHTML = ""
            }

            if (password.value === "" || password.value === null) {
                e.preventDefault();
                document.getElementById("passwordError").classList.remove('d-none');
                document.getElementById("passwordError").innerHTML = "password must be filled!"
            } else if (!password.value.match(passRegX)) {
                e.preventDefault();
                document.getElementById("passwordError").classList.remove('d-none');
                document.getElementById("passwordError").innerHTML = "Password must contain at least 6 characters including one uppercase letter,<br> one lowercase letter, one number and one special character.";
            } else if (password.value.match(passRegX)) {
                document.getElementById("passwordError").classList.remove('d-none');
                document.getElementById("passwordError").innerHTML = ""
            }
        })
    </script>
</body>