body {
    background-image: url("../../imgs/login/workplace-business-modern-male-accessories-laptop-black-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-y: hidden;
}

