.backgroundimg {
    background-image: url("../../images/login//login-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-y: hidden;
  }

  label.form-label {
        color: #333333;
        font-size: 1rem;
        font-weight: 600;
      }

      input.form-control {
        border-radius: 1rem;
        padding: 1rem
      }