<main class="main">
    <div class="container mt-4">
        <div
            class="page-header page-header-big text-center"
            style="
                background-image: url('/user/assets/images/contactAndAbout/aboutUs.png');
            "
        >
            <h1 class="page-title" style="color: black">
                Contact us<span style="color: black"
                    >keep in touch with us</span
                >
            </h1>
        </div>
        <!-- End .page-header -->
    </div>
    <!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <h2 class="title mb-1">Contact Information</h2>
                    <!-- End .title mb-2 -->
                    <p class="mb-3"></p>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="contact-info">
                                <h3>The Office</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-map-marker"></i>
                                        Maradu ,Kochi ,Kerala
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i>
                                        <a href="tel:#">+91 8888888888</a>
                                    </li>
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <a href="mailto:#"
                                            >gadgetplus@gmail.com</a
                                        >
                                    </li>
                                </ul>
                                <!-- End .contact-list -->
                            </div>
                            <!-- End .contact-info -->
                        </div>
                        <!-- End .col-sm-7 -->

                        <div class="col-sm-5">
                            <div class="contact-info">
                                <h3>The Office</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-clock-o"></i>
                                        <span class="text-dark"
                                            >Monday-Saturday</span
                                        >
                                        <br />11am-7pm ET
                                    </li>
                                    <li>
                                        <i class="icon-calendar"></i>
                                        <span class="text-dark">Sunday</span>
                                        <br />11am-6pm ET
                                    </li>
                                </ul>
                                <!-- End .contact-list -->
                            </div>
                            <!-- End .contact-info -->
                        </div>
                        <!-- End .col-sm-5 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <h2 class="title mb-1">Got Any Questions?</h2>
                    <!-- End .title mb-2 -->
                    <p class="mb-2">
                        Use the form below to get in touch with the sales team
                    </p>

                    <form id="submit-form" class="contact-form mb-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cname" class="sr-only">Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="cname"
                                    name="name"
                                    placeholder="Name *"
                                    required
                                />
                            </div>
                            <!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label for="cemail" class="sr-only"
                                    >Email</label
                                >
                                <input
                                    type="email"
                                    class="form-control"
                                    id="cemail"
                                    name="email"
                                    placeholder="Email *"
                                    required
                                />
                            </div>
                            <!-- End .col-sm-6 -->
                        </div>
                        <!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cphone" class="sr-only"
                                    >Phone</label
                                >
                                <input
                                    type="tel"
                                    class="form-control"
                                    name="phone"
                                    id="cphone"
                                    placeholder="Phone"
                                />
                            </div>
                            <!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label for="csubject" class="sr-only"
                                    >Subject</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    name="subject"
                                    id="csubject"
                                    placeholder="Subject"
                                />
                            </div>
                            <!-- End .col-sm-6 -->
                        </div>
                        <!-- End .row -->

                        <label for="cmessage" class="sr-only">Message</label>
                        <textarea
                            class="form-control"
                            cols="30"
                            rows="4"
                            name="message"
                            id="cmessage"
                            required
                            placeholder="Message *"
                        ></textarea>

                        <button
                            type="submit"
                            id="submit-btnn"
                            class="btn btn-outline-primary-2 btn-minwidth-sm"
                        >
                            <span>SUBMIT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </form>
                    <!-- End .contact-form -->
                </div>
                <!-- End .col-lg-6 -->
            </div>
            <!-- End .row -->

            <hr class="mt-4 mb-5" />
        </div>
        <!-- End .container -->
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1964.9755011076584!2d76.32016701309686!3d9.938034999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873e8b17e4e1f%3A0x631726fd9022096b!2sBrototype%20Kochi!5e0!3m2!1sen!2sin!4v1685616583475!5m2!1sen!2sin"
                width="100%"
                height="490"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
        <!-- End #map -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->

<script src="/user/assets/js/userJs/contact.js"></script>