
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #555;
    }

    p.error {
      color: red;
    }

    p.success {
      color: green;
    }
  </style>
<!-- </head>

<body> -->
  <h1>Change Password</h1>
  <form action="/change-password" method="post" name="changedPass" id="changingPass">

    <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="passwordError"></span>

    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="newPassword" required>

    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirmPassword" required>

    <input type="submit" name="submit" value="Change Password">

  </form>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
    const passwordForm = document.getElementById("changingPass")

    passwordForm.addEventListener('submit', function (event) {
      // code to handle form submission
      event.preventDefault()

      const newPasswordInput = document.querySelector("#new-password")
      const confirmPasswordInput = document.querySelector("#confirm-password")
      
      
      if (newPasswordInput !== confirmPasswordInput) {
        document.getElementById("passwordError").classList.remove('d-none');
        document.getElementById("passwordError").innerHTML="password is not matching"
        return;
      }

      passwordForm.submit();
    });

  </script>