<link rel="stylesheet" href="/user/assets/css/userCss/password.css">

<h1>Change Password</h1>
<form
    action="/change-password"
    method="post"
    name="changedPass"
    id="changingPass"
>
    <span
        class="text-danger d-none"
        style="font-size: 12px; margin-left: 10px"
        id="passwordError"
    ></span>

    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="newPassword" required />

    <label for="confirm-password">Confirm Password:</label>
    <input
        type="password"
        id="confirm-password"
        name="confirmPassword"
        required
    />

    <input type="submit" name="submit" value="Change Password" />
</form>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/user/assets/js/userJs/password.js"></script>
